[Desktop Entry]
Encoding=UTF-8
Version=0.1
Type=Application
Name=Quick Brown Fox
Exec=/usr/bin/quickbrownfox
Icon=quickbrownfox
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable

